# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec.bak

# Node
frontend/node_modules/
frontend/package-lock.json

# Frontend build output
frontend/public/build/
frontend/public/fonts/
frontend/public/parserWorker.js

# PyInstaller
*.manifest
*.exe

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Virtual environments
venv/
.venv/
env/

# Claude
.claude
CLAUDE.md

*.xlsx
